@import "tailwindcss";
@import '@fontsource-variable/outfit';

@layer base{
    body {
    font-family: 'Outfit Variable', sans-serif;
    }
}

@theme{
    --spacing-122 : 122px;
    --spacing-8xl: 100rem;
    --spacing-69: 69px;
    --spacing-563: 563px;
}

@layer utilities{
    .main-description {
        @apply md:text-[32px] ml-[34px] mr-[33px] md:ml-[110px] md:mr-[111px] lg:text-4xl lg:mt-[330.58px] lg:ml-[13.2%] lg:mr-[13.1%] lg:tracking-wider lg:leading-[50px] font-normal
    }
    .main-content-yellow-hexagone {
        @apply w-[146px] h-[87px] md:w-[196px] md:h-[99px] lg:w-[180px] lg:h-[120px]
    }
    .main-content-grid {
        @apply ml-[34px] pb-[300px] mr-[1px] mt-[95px] md:mt-[129px] lg:mt-[135px] md:ml-[110px] md:mr-[84px]  gap-[86px] md:gap-[73px] lg:ml-[11.1%] lg:mr-[12.85%] lg:gap-[7.9%]
    }
    .main-content-green-hexagone-container{
        @apply lg:mb-[44.45px] lg:w-[85%] pb-[35%]
    }
    .main-content-green-paragraph{
        @apply ml-[33px] mr-[44.86px]  md:ml-[71.56px] md:mr-[43px] md:text-[21px] leading-[22px] md:leading-[25px] lg:mt-[35.50%] lg:ml-[17.89%] lg:mr-[7.8%] lg:text-lg 2xl:text-[21px] lg:leading-[22px] font-light
    }
    
}